
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}
.top{
    background-color: rgb(51, 50, 87);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: larger;
  font-weight: bold;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
input,select{
    padding: 4px;
  border: none;
  border-radius: 4px;
  outline: none; /* Remove default outline */
  /* Additional styling to match your design */
  background-color: #5f5195;
  /* font-size: 16px; */
  margin-top: 8px;
  width: 120px;
  height: 22px;
  color:rgb(255, 255, 255);
  font-size: medium;
}
.bottom{
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.btn{
   width: 120px;
   height:30px ;
   font-size: medium;
   font-weight: bolder;
   margin-right: 10px;
   color: rgb(57, 56, 56);
   border: none;
   border-radius: 5px;
   
}
#clearButton{
    background-color: rgb(251, 70, 70);
}
#saveButton{
    background-color: rgb(54, 192, 65);
}
#mycanvas{
    border: 2px solid black;
}
nav{
    background-color:rgb(63, 71, 92);
    color: beige;
    display: flex;
    justify-content: center;
    padding: 10px;

}
nav h2{
    
    font-size: 40px;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(to right,#e30f0f, #f32170, #ff6b08,#d3fa5c, #ebe8d0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}